* {
    box-sizing: border-box;
}
/* Place header box on top */
header,footer {
    border: 1px solid gray;
    height: 100px;
}
/* Divide sections into 3 columns */
section {
    float: left;
    width: 33.3333%;
    border: 1px solid gray;
    height: 300px;
}

/* Place footer box at the bottom */
footer {
    clear: both;
}